<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <main>
      <div class="p-5 mb-4 bg-light rounded-3">
        <h1>Node EJS</h1>
        <p>Learning EJS</p>
      </div>
    </main>
  </body>
</html>
