<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {page: 'About'}); %>

    <main>
        <div class="jumbotron">
            <h1>About</h1>
            <p>I'm a beginner developer, learning programming with Rocketseat Platform</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>